* { box-sizing: border-box; }
body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

/* navbar */
header {
  background-color: white;
  color: #050733ff;
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: #050733ff;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: #050733ff;
  border: none;
}

.btn-edunotas {
  background-color: #050733ff;
  color: #fff;
}

.btn-usuario {
  background-color: #050733ff;
  color: #fff;
  margin-left: 10px;
}

/* menú lateral */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(9, 5, 80), #050733ff);
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #11064e, #ffffff);
  border-radius: 8px;
}

.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

.offcanvas1-body {
  flex-grow: 1;
  overflow-y: auto;   
  max-height: 100vh;  
}


.nav-item {
  font-weight: bold;
  font-size: 22px;
}
#sidebar .nav-link {
  font-size: 18px;   /* tamaño menú hamburguesa */
  font-weight: bold;
  margin-bottom: 10px;
}


.nav-pills .nav-link {
  font-size: 25px;   /* tamaño botones nav */
  color: #050733ff !important; 
  font-weight: bold;

}

main {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.controls {
  margin-bottom: 12px;
  display:flex;
  gap:10px;
  align-items: center;
}
.controls input[type="date"]{ padding:6px; }

button {
  padding:8px 12px;
  border-radius:6px;
  border: none;
  cursor: pointer;
}
button:hover { opacity: 0.95; }

#exportCsv{ background:#10b981; color:white; }
#verReporte{ background:#ef4444; color:white; }
#cargarLista{ background:#3b82f6; color:white; }

table {
  width:100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
td.actions { display:flex; gap:8px; }

.status-btn { padding:6px 8px; border-radius:6px; background:#e5e7eb; }
.status-presente{ background:#10b981; color:white; }
.status-ausente{ background:#ef4444; color:white; }
.status-tarde{ background:#f59e0b; color:white; }

.modal{
  position:fixed;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background: rgba(0,0,0,0.4);
}
.modal.hidden{ display:none; }

.modal-content{
  background:white;
  padding:20px;
  border-radius:8px;
  width:90%;
  max-width:600px;
}
.modal-actions{
  margin-top:12px;
  display:flex;
  gap:8px;
  justify-content:flex-end;
}

h1.titulo-principal {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #050733ff;
}
