:root { --brand:#050733ff; --brand-600:#1b2068; --brand-100:#eef0ff; }
body {
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

/* navbar */
header {
  background-color: white;
  color: var(--brand);
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: var(--brand);
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: var(--brand);
  border: none;
}

.btn-edunotas {
  background-color: var(--brand);
  color: #fff;
}

.btn-usuario {
  background-color: var(--brand);
  color: #fff;
  margin-left: 10px;
}

.titulo {
  font-size: 3rem;      
  font-weight: 900;      
  color: var(--brand);      
  margin-top: 40px;
  text-align: center;
}

.descripcion {
  font-size: 1.3rem;     
  color: #555;   
  margin-left: 570px;
}

/*  menu_des  */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(9, 5, 80), var(--brand));
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #11064e, #ffffff);
  border-radius: 8px;
}

.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

.offcanvas1-body {
  flex-grow: 1;
  overflow-y: auto;   
  max-height: 100vh;  
}

.nav-item {
  font-weight: bold;
  font-size: 22px;
}
#sidebar .nav-link {
  font-size: 18px;   /* tamaño menú hamburguesa */
  font-weight: bold;
  margin-bottom: 10px;
}

/* SOLO botones nav-pills (Resumen, Registro, Comunicación, etc.) */
.nav-pills .nav-link {
  font-size: 25px;   /* tamaño botones nav */
  color: var(--brand) !important; 
  font-weight: bold;

}

h1 {
  color: #212529; 
  font-weight: bold;
}

h3 {
  color: #212529;
  margin-top: 30px;
}

.table thead {
  background-color: #212529;
  color: white;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 1px solid var(--brand-100);
}

select.form-select {
  border: 2px solid var(--brand);
}

.charts-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid var(--brand-100);
}

canvas {
  width: 100% !important;
  height: 250px !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
