body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Permite alinear elementos verticalmente */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

.loading-container {
  flex-grow: 1; /* Ocupa todo el espacio vertical disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.notebook {
  position: relative;
  width: 180px;
  height: 180px;
  perspective: 800px;
  margin-left: 180px;
  margin-top: -70px;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #050733ff;
  border-radius: 10px;
  transform-origin: left;
  animation: openCover 3s ease-in-out forwards;
  z-index: 3;
  
}

.pages {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e7e4e4;
  z-index: 2;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #ccc;
  transform-origin: left;
  opacity: 0.8;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.page1 { animation: turnPage 1.2s 0.4s forwards; }
.page2 { animation: turnPage 1.2s 0.9s forwards; }
.page3 { animation: turnPage 1.2s 1.4s forwards; }

.rings {
  position: absolute;
  left: -15px;
  top: 20px;
  height: 110px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  z-index: 4;
}

.ring {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

/* ✅ Logo y texto al fondo */
.logo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 30px; /* Controla qué tan cerca del borde inferior está */
  left: 50%;
  transform: translateX(-50%);
}

.logo-img {
  width: 130px;  /* más pequeño */
  height: auto;
  border-radius: 6px;
}

.texto-abajo {
  font-size: 25px;
  font-weight: bold;
  color: #9c9d9d;
  margin: 0;
}

/* Animaciones */
@keyframes openCover {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(-110deg); }
  100% { transform: rotateY(-130deg); }
}

@keyframes turnPage {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(-90deg); }
  100% { transform: rotateY(-180deg); opacity: 0; }
}
