body {
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

.loading-container {
  text-align: center;
}

.notebook {
  position: relative;
  width: 180px;
  height: 180px;
  perspective: 800px;
  margin: 0 auto;
  margin-top: -100px;
  margin-left: 155px;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #050733ff;
  border-radius: 10px;
  transform-origin: left;
  animation: openCover 3s ease-in-out forwards;
  z-index: 3;
}

.pages {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e7e4e4;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #ccc;
  transform-origin: left;
  opacity: 0.8;
}

.page1 {
  animation: turnPage 1.2s 0.4s forwards;
}
.page2 {
  animation: turnPage 1.2s 0.9s forwards;
}
.page3 {
  animation: turnPage 1.2s 1.4s forwards;
}

.rings {
  position: absolute;
  left: -10px;
  top: 20px;
  height: 110px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  z-index: 4;
}

.ring {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

}

.text {
  margin-top: 50px;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  animation: fadeIn 2s ease-in-out;
}

/* Animaciones */
@keyframes openCover {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(-110deg); }
  100% { transform: rotateY(-130deg); }
}

@keyframes turnPage {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(-90deg); }
  100% { transform: rotateY(-180deg); opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.texto-abajo{
    margin-top: 700px;
    margin-left: -240px;
}