body {
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

/* navbar */
header {
  background-color: white;
  color: #050733ff;
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: #050733ff;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: #050733ff;
  border: none;
}

.btn-edunotas {
  background-color: #050733ff;
  color: #fff;
}

.btn-usuario {
  background-color: transparent; /* sin recuadro */
  color: #050733ff;               /* color institucional para el icono */
  border: none;                    /* sin borde */
  box-shadow: none;                /* sin sombra */
  padding: 6px 8px;                /* compacto */
  margin-left: 10px;
}

.btn-usuario:hover,
.btn-usuario:focus {
  background-color: transparent;   /* mantener sin recuadro en hover/focus */
  color: #050733ff;
  box-shadow: none;
}

/* Oculta el caret del dropdown en el botón de usuario */
.btn-usuario.dropdown-toggle::after {
  display: none !important;
}

/* Tamaño del icono circular */
.btn-usuario .bi-person-circle {
  font-size: 1.6rem;
}

/*  menu_des  */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(9, 5, 80), #050733ff);
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #11064e, #ffffff);
  border-radius: 8px;
}
.titulo-principal{
 margin-top: 60px;
 font-weight: bolder;
}
.descripcion {
  font-size: 1.3rem;     
  color: #555;           

}
.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}


.offcanvas1-body {
  flex-grow: 1;
  overflow-y: auto;   
  max-height: 100vh;  
}

.nav-item {
  font-weight: bold;
  font-size: 22px;
}
#sidebar .nav-link {
  font-size: 18px;   /* tamaño menú hamburguesa */
  font-weight: bold;
  margin-bottom: 10px;
}


header h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

/* ===== Tarjeta principal ===== */
.card {
  border-radius: 15px;
  border: none;
}

.card h2 {
  color: #050733ff;
  font-weight: bold;
}

.card p {
  font-size: 0.9rem;
}

/* ===== Labels e inputs ===== */
.form-label {
  font-weight: 600;
  color: #333;
}

input.form-control {
  border-radius: 10px;
  border: 1px solid #ced4da;
  padding: 10px;
}

input.form-control:focus {
  border-color: #050733ff;
  box-shadow: 0 0 5px rgba(0, 40, 85, 0.4);
}

/* ===== Botón principal ===== */
#btnAgendar {
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #050733ff;
  border: none;
}

#btnAgendar:hover {
  background-color: #050733ff;
}

/* ===== Input del link generado ===== */
#linkGenerado {
  background-color: #f1f3f5;
  font-weight: 500;
  color: #495057;
}
.Historial {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.text-center{
  color: #050733ff;
  font-weight: bold;
}