body {
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

/* ========== NAVBAR SUPERIOR GENERAL ========== */
header {
  background-color: white;
  color: #050733ff;
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: #050733ff;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: #050733ff;
  border: none;
}

.btn-edunotas {
  background-color: #050733ff;
  color: #fff;
}

.btn-usuario {
  background-color: #050733ff;
  color: #fff;
  margin-left: 10px;
}

/* ========== MENU LATERAL ========== */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(9, 5, 80), #050733ff);
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #11064e, #ffffff);
  border-radius: 8px;
}

.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

.offcanvas1-body {
  flex-grow: 1;
  overflow-y: auto;   
  max-height: 100vh;  
}

.nav-item {
  font-weight: bold;
  font-size: 22px;
}

#sidebar .nav-link {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* SOLO botones nav-pills */
.nav-pills .nav-link {
  font-size: 25px;   
  color: #050733ff !important; 
  font-weight: bold;
}

.container {
  max-width: 950px;
  margin-top: -90px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
  padding: 2.5rem;
}



.info-acudiente h2 {
  color: #222;
  margin-bottom: 0.5rem;
}

.info-acudiente p {
  color: #555;
  margin: 0.3rem 0 1.5rem 0;
}

.info-estudiante {
  background-color: #f0f4ff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  border-left: 5px solid #2563eb;
}

.info-estudiante p {
  margin: 0.3rem 0;
  color: #333;
}

h3 {
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  color: #555;
  margin-bottom: 1.8rem;
  font-size: 1rem;
  line-height: 1.5;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.8rem;
}

th {
  background-color: #f0f4ff;
  color: #333;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  font-size: 0.95rem;
}

td {
  background: #fafafa;
  padding: 1rem;
  border-radius: 8px;
  vertical-align: middle;
}

tr:hover td {
  background-color: #f4f6ff;
}

.btn {
  background-color: #0a1655;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.3s;
  display: block;
  margin-bottom: 0.4rem;
}

.btn-whatsapp {
  background-color: #145c2f;
}

.btn:hover {
  opacity: 0.9;
}

.alerta {
  background-color: #fff3cd;
  color: #856404;
  border-left: 5px solid #ffe08a;
  padding: 1rem 1.5rem;
  margin-top: 2.5rem;
  border-radius: 6px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

