body {
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

/* ========== NAVBAR SUPERIOR GENERAL ========== */
header {
  background-color: white;
  color: #050733ff;
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: #050733ff;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: #050733ff;
  border: none;
}

.btn-edunotas {
  background-color: #050733ff;
  color: #fff;
}

.btn-usuario {
  background-color: #050733ff;
  color: #fff;
  margin-left: 10px;
}

/* ========== MENU LATERAL ========== */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(9, 5, 80), #050733ff);
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #11064e, #ffffff);
  border-radius: 8px;
}

.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

.offcanvas1-body {
  flex-grow: 1;
  overflow-y: auto;   
  max-height: 100vh;  
}

.nav-item {
  font-weight: bold;
  font-size: 22px;
}

#sidebar .nav-link {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* SOLO botones nav-pills */
.nav-pills .nav-link {
  font-size: 25px;   
  color: #050733ff !important; 
  font-weight: bold;
}



/* titulos */

.titulo-principal {
  font-size: 3rem;      
  font-weight: 900;      
  color: #050733ff;    
  margin-left: 50px;  
  margin-top: 40px;
}


.descripcion {
  font-size: 1.3rem;     
  color: #555;  
  margin-left: 50px;         
}
.section-title {
  margin-top: 0;
  color: var(--accent);
  text-align: center;
  color: #212529;
}


.info-text {
    color: var(--muted);
    margin-bottom: 20px;
    text-align: center;
}


h1 {
  margin: 0;
  font-size: 1.8rem;
}

.encuestas-container {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.encuesta {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid #004080;
}

.encuesta img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.encuesta-info {
  flex: 1;
  margin-left: 1rem;
}

.encuesta-info h3 {
  margin: 0;
  color: #004080;
}

.encuesta-info p {
  margin: 0.2rem 0;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0066cc;
}

button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #004080;
}

.cerrar:hover {
  color: red;
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
}

.cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
}