body {
  background-color: #f8f9fa; 
  font-family: 'Trebuchet MS', sans-serif;
  color: #212529;
}

/* ========== NAVBAR SUPERIOR GENERAL ========== */
header {
  background-color: white;
  color: #050733ff;
  font-family: 'Trebuchet MS', sans-serif;
}

.titulo-header {
  color: #050733ff;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  margin-left: 60px;
}

header .btn-dark {
  background-color: #050733ff;
  border: none;
}

.btn-edunotas {
  background-color: #050733ff;
  color: #fff;
}

.btn-usuario {
  background-color: #050733ff;
  color: #fff;
  margin-left: 10px;
}

/* ========== MENU LATERAL ========== */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(9, 5, 80), #050733ff);
}

#sidebar .nav-link:hover {
  background: linear-gradient(180deg, #11064e, #ffffff);
  border-radius: 8px;
}

.offcanvas {
  font-size: 25px;
}

.offcanvas-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 30px;
}

.offcanvas1-body {
  flex-grow: 1;
  overflow-y: auto;   
  max-height: 100vh;  
}

.nav-item {
  font-weight: bold;
  font-size: 22px;
}

#sidebar .nav-link {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* SOLO botones nav-pills */
.nav-pills .nav-link {
  font-size: 25px;   
  color: #050733ff !important; 
  font-weight: bold;
}

.section-title {
  margin-top: 0;
  color: var(--accent);
  text-align: center;
  color: #050733ff;
}


.info-text {
    color: var(--muted);
    margin-bottom: 20px;
    text-align: center;
}

.timeline-container {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evaluacion {
  background: white;
  padding: 1rem;
  border-left: 5px solid #004080;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluacion h3 {
  margin-top: 0;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0066cc;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
}